<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EATestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="EATestClient" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="EATestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="UsageReportAPIUrl" value="https://ea.azure.com/rest/{0}/usage-report" />
    <add key="UsageReportListAPIUrl" value="https://ea.azure.com/rest/{0}/usage-reports" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <EATestClient.Properties.Settings>
      <setting name="EnrollmentNumber" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SubscriptionId" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessKeyBilling" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultCurrency" serializeAs="String">
        <value>USD</value>
      </setting>
      <setting name="DefaultLocale" serializeAs="String">
        <value>en-US</value>
      </setting>
      <setting name="DefaultRegion" serializeAs="String">
        <value>US</value>
      </setting>
      <setting name="AzureBillingVersion" serializeAs="String">
        <value>2015-06-01-preview</value>
      </setting>
      <setting name="AccessKeyUsage" serializeAs="String">
        <value>eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlE5WVpaUnA1UVRpMGVPMmNoV19aYmh1QlBpWSJ9.eyJFbnJvbGxtZW50TnVtYmVyIjoiMTAwIiwiSWQiOiJiNWU2OWI2Mi0wOWM2LTRmMjktODdmYi0yMTNmMjVkOGExNTMiLCJSZXBvcnRWaWV3IjoiU3lzdGVtIiwiUGFydG5lcklkIjoiIiwiRGVwYXJ0bWVudElkIjoiIiwiQWNjb3VudElkIjoiIiwiaXNzIjoiZWEubWljcm9zb2Z0YXp1cmUuY29tIiwiYXVkIjoiY2xpZW50LmVhLm1pY3Jvc29mdGF6dXJlLmNvbSIsImV4cCI6MTUwNzgyOTI0OCwibmJmIjoxNDkyMDE4MDQ4fQ.Nng57KGNINNTuf8lZB0u4FjM16tu-mrrzWtNQ6vG4_jIJ_Ad06O0U8ROIdM88rvQMyuUlKU3RE-titGq7QoV0ieioKXFrOJ4HTjeUmYET2loriz8UXozk_e2QTmi_FOn-sDgwMhGMRhg0w85cw1p7m2o_2dBizcEhrus8SNb-Z6Ab4A08g9_V2IS1oNJRnU4lGP91sK2CTpWGJUocsTucqTfrUknWPD1ghDSAqkWfGcTvPFQlg7RwXQpG79PfBf0R4ptETBDBfWO7iFNnhphWrKLSCCQ53oLaffvUmlM5YVqeMUH3W63uNMVMIvi9GMA2NFbZcBH3azooSVZpSNDHw</value>
      </setting>
      <setting name="AccessKeyPricing" serializeAs="String">
        <value>eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IlE5WVpaUnA1UVRpMGVPMmNoV19aYmh1QlBpWSJ9.eyJFbnJvbGxtZW50TnVtYmVyIjoiMTAwIiwiSWQiOiJiNWU2OWI2Mi0wOWM2LTRmMjktODdmYi0yMTNmMjVkOGExNTMiLCJSZXBvcnRWaWV3IjoiU3lzdGVtIiwiUGFydG5lcklkIjoiIiwiRGVwYXJ0bWVudElkIjoiIiwiQWNjb3VudElkIjoiIiwiaXNzIjoiZWEubWljcm9zb2Z0YXp1cmUuY29tIiwiYXVkIjoiY2xpZW50LmVhLm1pY3Jvc29mdGF6dXJlLmNvbSIsImV4cCI6MTUwNzgyOTI0OCwibmJmIjoxNDkyMDE4MDQ4fQ.Nng57KGNINNTuf8lZB0u4FjM16tu-mrrzWtNQ6vG4_jIJ_Ad06O0U8ROIdM88rvQMyuUlKU3RE-titGq7QoV0ieioKXFrOJ4HTjeUmYET2loriz8UXozk_e2QTmi_FOn-sDgwMhGMRhg0w85cw1p7m2o_2dBizcEhrus8SNb-Z6Ab4A08g9_V2IS1oNJRnU4lGP91sK2CTpWGJUocsTucqTfrUknWPD1ghDSAqkWfGcTvPFQlg7RwXQpG79PfBf0R4ptETBDBfWO7iFNnhphWrKLSCCQ53oLaffvUmlM5YVqeMUH3W63uNMVMIvi9GMA2NFbZcBH3azooSVZpSNDHw</value>
      </setting>
      <setting name="TestEnrollmentKeyUrl" serializeAs="String">
        <value>https://automaticbillingspec.blob.core.windows.net/spec/TestEnrollmentUsageApiKey.txt</value>
      </setting>
      <setting name="AADTenantId" serializeAs="String">
        <value>72f988bf-86f1-41af-91ab-2d7cd011db47</value>
      </setting>
      <setting name="AADClientId" serializeAs="String">
        <value>698be4a1-c5f1-46b3-8fe4-e2ac3fe5e385</value>
      </setting>
      <setting name="AADClientSecret" serializeAs="String">
        <value>cfO9t8aOOA2Sjm/7h6XU9dQ0+AoBxkZQypmRiW+9V8s=</value>
      </setting>
      <setting name="ManagementTokenAudience" serializeAs="String">
        <value>https://management.core.windows.net/</value>
      </setting>
    </EATestClient.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <EATestClient.Properties.Settings>
      <setting name="AzureOfferDetailsUrl" serializeAs="String">
        <value>https://azure.microsoft.com/en-us/support/legal/offer-details/</value>
      </setting>
      <setting name="UsageReportListAPIUrl" serializeAs="String">
        <value />
      </setting>
    </EATestClient.Properties.Settings>
  </applicationSettings>
</configuration>