<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="EATestClient" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="UsageReportAPIUrl" value="https://ea.azure.com/rest/{0}/usage-report" />
    <add key="UsageReportListAPIUrl" value="https://ea.azure.com/rest/{0}/usage-reports"/>
    <add key="TestKey" value="https://automaticbillingspec.blob.core.windows.net/spec/TestEnrollmentUsageApiKey.txt" />
  </appSettings>
  <userSettings>
    <EATestClient>
      <setting name="AccessKey" serializeAs="String">
        <value></value>
      </setting>
      <setting name="EnrollmentNumber" serializeAs="String">
        <value></value>
      </setting>
      <setting name="AADClientId" serializeAs="String">
        <value></value>
      </setting>
      <setting name="AADClientSecret" serializeAs="String">
        <value></value>
      </setting>
      <setting name="AADAppId" serializeAs="String">
        <value></value>
      </setting>
    </EATestClient>
  </userSettings>
</configuration>